<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo" style="color: white; font-size: 20pt;">
          <img style="width: 20%; height: 70px; padding: 10px;" src="assets/img/logo.jpeg" alt="logo">FINET
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nzMatchRouter nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <a routerLink="/welcome">Monitoreo</a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
              <span>
                <label style="margin-left: 35%;">Monitoreo Aires Acondicionados</label>
              </span>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  